body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
  width: 370px;
  background: #363c3e;
}

.cv-photo {
  margin-top: 25px;
}

.header-secondary {
  color: #ffffff;
}

.contact-links {
  color: #ffffff;
  font-size: 14px;
  line-height: 34px;
}

.bold {
  font-weight: 700;
}

.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 34px;
  margin-left: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
  list-style-position: inside;
}
.list-secondary-item {
  color: #ffffff;
}

.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}

.lekcje-block {
  margin-top: 47px;
  margin-left: 40px;
}

main {
  padding-left: 40px;
  padding-right: 40px;
  width:fit-content;
  background-color:#9c9a9a
}

.main-description {
  width:fit-content;
}


.school-name {
  font-weight:600;
  font-size: 40px;
  text-align:cenr;

}

.list-primary-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}

.job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.opisy {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 20px;
}

h2 {
  font-weight: 700;
}

.link-facebook {
  color:rgb(239, 243, 235);
  font-size: 20px;
}